<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bank App</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 50px;
      }

      table {
        margin: auto;
      }

      th,
      td {
        padding: 10px;
        text-align: center;
      }

      th {
        background-color: #f2f2f2;
      }

      #balance {
        font-size: 20px;
        margin-bottom: 20px;
      }

      #amountInput {
        margin-bottom: 10px;
      }

      #buttons {
        display: flex;
        justify-content: center;
      }

      button {
        margin: 0 10px;
        padding: 10px;
        cursor: pointer;
      }

      #error {
        color: red;
        margin-top: 10px;
      }

      #createAccountButton {
        display: block;
        margin: auto;
        padding: 10px;
        cursor: pointer;
      }

      #customerDetails {
        display: none;
        margin-bottom: 20px;
      }
    </style>
  </head>

  <body>
    <h1>Bank App</h1>

    <!-- Create Account Button -->
    <div id="createAccountButton" onclick="createAccount()">Open Account</div>

    <!-- Customer Details -->
    <div id="customerDetails">
      <h2>Customer Details</h2>
      <div id="customerId">Customer ID:</div>
      <div id="accountId">Account ID:</div>
      <div id="balance">Loading balance...</div>
    </div>

    <table id="mainInterface" style="display: none">
      <tr>
        <th>Enter Amount:</th>
        <td><input type="number" id="amountInput" /></td>
      </tr>
      <tr>
        <th colspan="2">
          <div id="instructions">
            <p>Enter a valid amount for deposit or withdrawal.</p>
            <p>
              Deposit limits: Max per transaction: Kes. 40K, Max frequency: 4
              transactions/day, Max for the day: Kes. 150K
            </p>
            <p>
              Withdrawal limits: Max per transaction: Kes. 20K, Max frequency: 3
              transactions/day, Max for the day: Kes. 50K
            </p>
          </div>
        </th>
      </tr>
      <tr>
        <th>Actions:</th>
        <td>
          <div id="buttons">
            <button onclick="deposit()">Deposit</button>
            <button onclick="fetchBalance()">Check Bank Balance</button>
            <button onclick="withdraw()">Withdraw</button>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div id="error"></div>
        </td>
      </tr>
    </table>

    <script>
      let customerId;
      let accountId;

      // Function to fetch and display balance
      async function fetchBalance() {
        try {
          const response = await fetch(
            `http://localhost:4500/balance?account_id=${accountId}`
          );
          const data = await response.json();
          document.getElementById(
            "balance"
          ).textContent = `Balance: ${data.balance} ${data.currency}`;
        } catch (error) {
          console.error("Error fetching balance:", error.message);
        }
      }

      // Function to create account
      async function createAccount() {
        try {
          const response = await fetch("http://localhost:4500/customer/seed");
          const data = await response.json();

          // Store customer and account details
          customerId = data.customerId;
          accountId = data.accountId;

          // Display customer details
          document.getElementById(
            "customerId"
          ).textContent = `Customer ID: ${customerId}`;
          document.getElementById(
            "accountId"
          ).textContent = `Account ID: ${accountId}`;

          // Hide create account button and reveal the main interface
          document.getElementById("createAccountButton").style.display = "none";
          document.getElementById("customerDetails").style.display = "block";
          document.getElementById("mainInterface").style.display = "table";

          // Fetch and display balance after creating account
          fetchBalance();
        } catch (error) {
          console.error("Error creating account:", error.message);
          document.getElementById("error").textContent =
            "Error creating account. Please try again later.";
        }
      }

      // Function to handle deposit
      async function deposit() {
        const amountInput = document.getElementById("amountInput");
        const amount = amountInput.value;
        if (!validateAmount(amount, 40000, 4, 150000)) {
          return;
        }

        try {
         const response =  await fetch("http://localhost:4500/transaction/deposit", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              customer_id: customerId,
              account_id: accountId,
              amount: parseInt(amount),
            }),
          });

          // Clear input text after deposit
          amountInput.value = "";

          // Refresh balance after deposit
          fetchBalance();
          const data = await response.json()
          console.log(data)
          document.getElementById("error").textContent = data.message || data.error; // Clear any previous errors
        } catch (error) {
          console.error("Error depositing:", error.message);
          document.getElementById("error").textContent =
            "Error depositing. Please try again later.";
        }
      }

      // Function to handle withdrawal
      async function withdraw() {
        const amountInput = document.getElementById("amountInput");
        const amount = amountInput.value;
        if (!validateAmount(amount, 20000, 3, 50000)) {
          return;
        }

        try {
         const response =  await fetch("http://localhost:4500/transaction/withdraw", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              customer_id: customerId,
              account_id: accountId,
              amount: parseInt(amount),
            }),
          });

          // Clear input text after withdrawal
          amountInput.value = "";

          // Refresh balance after withdrawal
          fetchBalance();
          document.getElementById("error").textContent = ""; // Clear any previous errors
          const data = await response.json();
          document.getElementById("error").textContent = data.message || data.error
        } catch (error) {
          console.error("Error withdrawing:", error.message);
          document.getElementById("error").textContent =
            "Error withdrawing. Please try again later.";
        }
      }

      // Validate amount within limits
      function validateAmount(
        amount,
        maxPerTransaction,
        maxFrequency,
        maxForTheDay
      ) {
        const parsedAmount = parseInt(amount);

        if (!amount || isNaN(parsedAmount) || parsedAmount <= 0) {
          document.getElementById("error").textContent =
            "Please enter a valid amount.";
          
        }

        // Validate per transaction limit
        if (parsedAmount > maxPerTransaction) {
          document.getElementById(
            "error"
          ).textContent = `Max per transaction is Kes. ${maxPerTransaction}.`;
         
        }

        // Validate frequency limit
        const frequencyCount = localStorage.getItem("frequencyCount") || 0;
        if (frequencyCount >= maxFrequency) {
          document.getElementById(
            "error"
          ).textContent = `Max frequency reached for the day (${maxFrequency} transactions).`;
          
        }

        // Validate for the day limit
        const remainingForTheDay =
          localStorage.getItem("remainingForTheDay") || maxForTheDay;
        if (parsedAmount > remainingForTheDay) {
          document.getElementById(
            "error"
          ).textContent = `Max limit for the day (${maxForTheDay}) reached.`;
         
        }

        // Update frequency count
        localStorage.setItem("frequencyCount", frequencyCount + 1);

        // Update remaining limit for the day
        localStorage.setItem(
          "remainingForTheDay",
          remainingForTheDay - parsedAmount
        );

        // Clear any previous errors
        document.getElementById("error").textContent = "";

        return true;
      }
    </script>
  </body>
</html>
